/* Цвета */
:root {
  --menu_color: #FBFA34;
  --slider_text_color: #F9F13E;
  --menu_icons_color: #8AFF8E;
  --accent_text_color: #FF7184;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}
.submenu_link {
  color: #000;
  font-size: 14px;
  line-height: 24px;
}
.main {
  height: 100vh;
  width: 100vw;
} 
.container {
  display: grid;
  grid-template: 114px 1fr / 153px 495px 1fr;
  grid-template-areas: 
  "menu submenu submenu submenu"
  "menu search  picture picture"  
  "menu slider  picture picture";
  height: 100%;
  width: 100%;
}
.picture {
  grid-area: picture;
  background: url(../img/headerz_04/bg_image.jpg)  no-repeat;
  background-size: cover;
}
/* Меню */
.menu {
  background-color: var(--menu_color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 153px;
  align-items: center;
  grid-area: menu;
  grid-row: span 3;
}
.logo {
  max-width: 51px;
  max-width: 53px;
  margin: 40px 45px 0;
}
.menu_icon {
  width: 25px;
  height: 26px;
  margin-bottom: 547px;
}
/* Горизонтальное меню */
.submenu {
  grid-area: submenu;
  grid: 2/3/1/2;
}
.submenu li {
  list-style: none;
}
.submenu li a {
  text-decoration: none;
}
.menu_group_list a::after {
  display: block;
  content: '';
  height: 4px; 
  background-color: #000;
  width: 0%;
  transition: width 0.4s ease-in-out;
}
.menu_group_list a:hover:after, .menu_group_list a:focus:after {
  width: 100%;
}
.submenu_search_block {
  display: flex;
  background-color: var(--menu_icons_color);
  justify-content: center;
  align-items: center;
  width: 199px;
  height: 114px;
}
.submenu_search_block img {
  width: 19px;
  height: 19px;
}
.arrow_down {
  padding-left: 8.5px;
}
.menu_group_list {
  display: flex;
  align-content: center;
  align-items: center;
}
.menu_group_list li {
  margin-right: 60px;
}
.menu_group_list li:last-child {
  margin-right: 0;
}
.menu_list {
  display: flex;
  justify-content: space-between;
  padding-left: 91px;
  height: 114px;
  align-items: center;
}
/* Блок поиска */
.search {
  display: flex;
  grid-area: search;
  flex-direction: column;
  width: 311px;
  padding-top: 98px;
  justify-self: self-start;
  align-self: self-start;
  margin: 0 91px 0 89px;
}
.search_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 61px;
  text-transform: uppercase;
  margin-bottom: 61px;
}
.accent_title {
  color: var(--accent_text_color);
}
.search form {
  display: flex;
  flex-direction: column;
}
.search form select, input {
  padding: 12px 20px;
  border: 4px solid #000;
  margin-bottom: 22px;
  font-family: 'Roboto Mono', monospace;
  max-width: 300px;
}
.search form select:nth-last-child(2) {
  margin-bottom: 70px;
}
#btn_search {
  max-width: 150px;
  min-height: 48px;
  padding: 13px 47px 17px;
  color: #fff;
  background-color: #000;
  border: none;
  font-family: 'Roboto Mono', monospace;
}
/* Слайдер */
.slider {
  display: flex;
  grid-area: slider;
  justify-items: center;
  justify-content: flex-start;
  padding-left: 91px;
  align-items: flex-end;
}
.slider_switch_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 185px;
  margin-bottom: 78px;
  margin-right: 72px;
}
.number_photo {
  font-size: 41.6px;
  font-weight: 700;
  letter-spacing: 1.6px;
  margin-right: 21px;
}
.line {
  width: 32px;
  height: 3.2px;
  background-color: #000;
  opacity: 0.20000000298023224;
  margin-right: 8px;
}
.line:hover {
  transition: opacity 1s ease;
  opacity: 1;
}
.slider_block {
  display: flex;
  background-color: #000;
  color: var(--slider_text_color);
  min-width: 821px;
  justify-content: space-between;
  align-items: center;
  padding: 74.39px 0 76.61px 76.51px;
}
.arrow_right {
  width: 28px;
  height: 13px;
  margin-right: 45px;
  background-color: #000;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  .container {
    grid-template: 114px 500px 1fr / 153px 495px 1fr;
    grid-template-areas: 
    "menu submenu submenu"
    "menu search  picture"  
    "menu slider  picture";
  }
  .slider {
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
  }
  .slider_block {
    min-width: 300px;
    height: 30px;
    margin-right: 100px;
    padding: 50px 0 50px 50px;
  }
  .menu_list, .slider, .search {
    padding-left: 60px;
    margin: 0;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    grid-template: 114px 1fr 1fr/ 153px 1fr 2fr;
    grid-template-areas: 
    "menu submenu submenu"
    "menu search  picture"  
    "menu slider  slider";
    height: 100%;
    width: 100%;
  }
  .slider {
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    justify-self: self-start;
    align-items: center;
  }
  .slider_switch_block {
    align-items: center;
    justify-content: space-between;
    max-width: 185px;
    margin-bottom: 0;
    margin-right: 135px;
  }
  .slider_block {
    min-width: 600px;
    justify-content: space-between;
    align-items: center;
    padding: 74.39px 0 76.61px 76.51px;
    margin-right: 0;
  }
}
